@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - torukobyte</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    <script src="https://kit.fontawesome.com/5c0fa9562b.js" crossorigin="anonymous"></script>
    <style>
        body
        {
        background-color: rgb(218,218,218);
        }
        #qw
        {
        font-size: 25px;
        margin-top: -10px;
        margin-right: 3px;
        }
        #qw1
        {
        font-size: 25px;
        margin-top: -7px;
        }
    </style>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                @if (Context.Session.GetString("username") != null)
                {
                    <a class="nav-link text-warning collapse navbar-collapse d-flex flex-row-reverse" asp-action="Detay" asp-controller="KullaniciIslemleri"><i style="margin-left: 3px;margin-top: 2px;" class="fas fa-user"></i>@Context.Session.GetString("username")</a>

                    <a class="nav-link text-light collapse navbar-collapse d-flex flex-row-reverse" asp-action="Cikis" asp-controller="KullaniciIslemleri"><i style="margin-left: 3px;margin-top: 2px;" class="fas fa-sign-out-alt"></i>Çıkış</a>

                }
                else
                {
                    <a class="nav-link text-light collapse navbar-collapse d-flex flex-row-reverse" asp-action="Kayit" asp-controller="KullaniciIslemleri"><i style="margin-left: 3px;margin-top: 2px;" class="fas fa-user"></i>Kayıt</a>

                    <a class="nav-link text-light collapse navbar-collapse d-flex flex-row-reverse" asp-action="Giris" asp-controller="KullaniciIslemleri"><i style="margin-left: 3px;margin-top: 2px;" class="fas fa-sign-in-alt"></i>Giriş</a>

                }
                <form class="flex-column" style="margin: auto;width: 100%">
                    <a class="btn btn-info" asp-controller="Home" asp-action="Index">

                        <svg id="qw1" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house-door" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M7.646 1.146a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 .146.354v7a.5.5 0 0 1-.5.5H9.5a.5.5 0 0 1-.5-.5v-4H7v4a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .146-.354l6-6zM2.5 7.707V14H6v-4a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5v4h3.5V7.707L8 2.207l-5.5 5.5z"/>
                            <path fill-rule="evenodd" d="M13 2.5V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                        </svg>
                        Ana Sayfa
                    </a>
                    @if (Context.Session.GetString("isAdmin") == "admin" || Context.Session.GetString("isAdmin") == "user")
                    {
                        <a class="btn btn-primary" asp-area="" asp-controller="UrunIslemleri" asp-action="Index">
                            <svg id="qw" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
                            </svg>Urun Islemleri
                        </a>
                        <a class="btn btn-success" asp-area="" asp-controller="KategoriIslemleri" asp-action="Index">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-border-width" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 3.5A.5.5 0 0 1 .5 3h15a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-2zm0 5A.5.5 0 0 1 .5 8h15a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-1zm0 4a.5.5 0 0 1 .5-.5h15a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5z"/>
                            </svg>
                            Kategori Islemleri
                        </a>
                    }
                    
                </form>


            </div>
        </div>
    </nav>
</header>

<div class="container">
    @if (TempData["mesaj"] != null)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>@TempData["mesaj"]</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy;<a style="color: darkred" asp-area="" asp-controller="Home" asp-action="Privacy">torukobyte</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@RenderSection("Scripts", required: false)
</body>
</html>