@model ETicaret.Models.Urun

@{
    ViewData["Title"] = "Delete";
}

<h3>Silmek istediğinizden emin misiniz?</h3>
<hr/>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Aciklama)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Aciklama)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fiyat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fiyat)
        </dd>
    </dl>
    <div class="col-12">
        @foreach (var item in Model.Resimler)
        {
            <img src="\resimler\@item.DosyaAdi" style="height: 150px;border-style:solid;border-radius:5px;" class="m-1"/>
        }

    </div>
    <br/>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id"/>
        <input type="submit" value="Sil" class="btn btn-danger"/> |
        <a class="btn btn-success" asp-action="Index">Geri Dön!</a>
    </form>
</div>