@model Kategori

@{
    ViewData["Title"] = "Details";
}

<h1>Detaylar</h1>
<hr/>
<div class="col-4">
    <div>
        <dl class="row">
            <dt class="col-sm-5" style="color: darkred">
                @Html.DisplayNameFor(model => model.Adi)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Adi)
            </dd>
            <dt class="col-sm-5" style="color: darkred">
                @Html.DisplayNameFor(model => model.Aciklama)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Aciklama)
            </dd>
        </dl>
    </div>


</div>
<br>
<div>
    <a class="btn btn-dark" asp-action="Edit" asp-route-id="@Model.Id">Düzenle</a> |
    <a class="btn btn-success" asp-action="Index">Geri Dön!</a>
</div>